<!-- partial for nav state nav.search -->

<h2>Search</h2>

<div class="k-block k-info-colored">
  <ol>
    <li>
      Select DbS dataset from drop down (HC69 or HG11), more to be added later.
    </li>
    <li>
      Add search targets: Enter one or more low-copy FASTA sequence,
      preferably a CDS, less than 10 kb.  Or enter one or more B73
      PHIv2.1 coordinates.
    </li>
  </ol>
</div>

<div class="k-block">
  <form ng-submit="search()">
    <div class="k-block">
      <div class="k-header">	
	Select dataset
      </div>
      <fieldset>
	<label>Organism
	  <select kendo-drop-down-list
		  k-data-source="data.organismSource"
		  k-data-text-field="'label'"
		  k-data-value-field="'pk'"
		  ng-model="data.organism"
		  ng-change="onOrganism(data.organism)">
	  </select>
	</label>
	<label>Genome
	  <select kendo-drop-down-list
		  k-data-source="data.genomeSource"
		  k-data-text-field="'genomeName'"
		  k-data-value-field="'id'"
		  ng-model="data.genome"
		  ng-change="onGenome(data.genome)">
	  </select>
	</label>
	<label>DbS dataset
	  <select kendo-drop-down-list
		  k-data-source="data.dbsSource"
		  k-data-text-field="'name'"
		  k-data-value-field="'id'"
		  ng-model="data.dbs"
		  ng-change="onDbS(data.dbs)">
	  </select>
	</label>
      </fieldset>
    </div>
    <br>
    <div class="k-block">
      <div class="k-header">	
	Add search targets
      </div>
      <div class="k-block k-error-colored"
          ng-show="data.error">
       <div class="k-header k-error-colored">Error</div>
       {{ data.error }}
      </div>

      <div class="gridStyle"
	   ng-grid="data.gridOptions"
	   ng-if="myData.length > 0">
      </div>
      <br>
      <div ng-if="! data.searchTargetMode">
	<button type="button" class="k-button"
		ng-show="myData.length"
		ng-click="onClearTargets()">
	  <span class="k-icon k-i-cancel"></span>
	  Clear targets
	</button>
	<button type="button" class="k-button k-primary"
		ng-show="allowSearchTarget('fasta')"
		ng-click="onSetSearchTargetMode('fasta')">
	  <span class="k-icon k-i-plus"></span>
	  Add FASTA target
	</button>
	<button type="button"
		class="k-button k-primary"
		ng-show="allowSearchTarget('coordinates')"
		ng-click="onSetSearchTargetMode('coordinates')">
	  <span class="k-icon k-i-plus"></span>
	  Add genome coordinates target
	</button>
     <!-- TEST -->
        <button type="button"
                class="k-button k-primary"
                ng-show="allowSearchTarget('coordinates')"
                ng-click="BlastTargets('test')">
          Test Search
        </button>
     <!-- TEST -->
      </div>
      <div ng-if="data.searchTargetMode == 'fasta'">
	Add FASTA target
	<br>
	<textarea class="fixed-width"
		  name="fasta"
		  placeholder="your FASTA sequence here"
		  ng-model="data.addFasta"
		  ng-trim="false"
		  ng-required="true" autofocus
          rows="10" cols="80" wrap="off">
	  {{ data.addFasta }}
	</textarea>
	<fieldset>
	  <button type="button" class="k-button"
		  ng-click="onAddExampleFasta()">
	    Example data
	  </button>
	  <button type="button" class="k-button" ng-click="data.addFasta = ''">
	    Clear fasta
	  </button>
	  <!-- TODO  upload file requires html5 or 3rd party api
	  http://www.html5rocks.com/en/tutorials/file/dndfiles/
	  http://bgrins.github.io/filereader.js/
	  -->
	  <input class="k-group" type="file" id="file" name="file"/><button class="k-button" ng-click="onUploadFileFasta()">Upload FASTA file</button>
	</fieldset>
	<fieldset>
	  <button type="button" class="k-button k-primary"
		  ng-click="onAddFastaData(data.addFasta)"
		  ng-disabled="! data.addFasta">
	    <span class="k-icon k-i-tick"></span>
	    Add search target
	  </button>
	  <button type="button" class="k-button"
		  value="cancel-add-fasta-target"
		  ng-click="onSetSearchTargetMode(null)">
	    <span class="k-icon k-i-cancel"></span>
	    Cancel add target
	  </button>
	</fieldset>
      </div>      
      <div ng-if="data.searchTargetMode == 'coordinates'">
	Add coordinates target in the format "{{ genomes[data.organism][data.genome]['label'] }}:start-end"
	</br>
        (e.g. {{ genomes[data.organism][data.genome]['label'] }}:100,000-500,000 or {{ genomes[data.organism][data.genome]['label'] }}:100,000..500,000)
	<fieldset>
	  <input type="text"
		 name="coordinates"
                 ng-pattern="/^(.+):([0-9,]+)(-|..)([0-9,]+)$/"
		 ng-model="data.addCoords"
		 ng-trim="true"
		 size="40" autofocus>
	  <button type="button" class="k-button"
		  value="example-data"
		  ng-click="data.addCoords = genomes[data.organism][data.genome]['label']+':100,000-500,000'">
	    Example data
	  </button>
	</fieldset>
	<fieldset>
	  <button type="button" class="k-button k-primary"
		  ng-disabled="! data.addCoords"
		  ng-click=onAddCoordsData(data.addCoords)>
	    <span class="k-icon k-i-tick"></span>
	    Add search target
	  </button>
	  <button type="button" class="k-button"
		  value="cancel-add-coords-target"
		  ng-click="onSetSearchTargetMode(null)">
	    <span class="k-icon k-i-cancel"></span>
	    Cancel add target
	  </button>
	</fieldset>
      </div>
    </div>
    <fieldset ng-show="myData.length">
      <button type="submit"
	      class="k-button k-primary"
	      value="Search"
              ng-click="onSearch()">
	<span class="k-icon k-i-search"></span>
	Search
      </button>
    </fieldset>

  </form>
</div>
